@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300;500;700&display=swap');

body {
    font-family: 'Unbounded';
    
    background: url('https://i.pinimg.com/736x/1a/af/e4/1aafe4dbbfdca9eb295a07bd3cf14517.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #2c3e50;
}

.login-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 100%;
    max-width: 400px;
}

.login-container h3 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    color: #2c3e50;
}

#loginForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#loginForm label {
    font-weight: 500;
    margin-bottom: -0.5rem;
    color: #2c3e50;
}

#loginForm input {
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

#loginForm input:focus {
    outline: none;
    border-color: #69b7ad;
    box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.2);
}

button {
    background-color: #3c8b83;
    color: white;
    border: none;
    padding: 0.8rem;
    border-radius: 4px;
    font-family: 'Unbounded';
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 0.5rem;
}

button:hover {
    background-color: #28605a;
}


@media (max-width: 480px) {
    .login-container {
        padding: 1.5rem;
        margin: 0 1rem;
    }
}